* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: #24252a;

    
}

body{
    font-family: 'Quicksand', sans-serif;
}

header.navbar-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;

    position: sticky;

    background-color: transparent;

    /* bordesr: 2px solid black; */
}

header.navbar-container li a {
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    

}
header.navbar-container .logo {
    cursor: pointer;
    width: 20%;
    /* height: 100px; */
}

nav.nav-list {
    display: flex;
    list-style: none;
    align-items: flex-start;
}

nav.nav-list li {
    display: inline-block;
    padding: 0px 20px;
}

nav.nav-list li {
    transition: all 0.3s ease 0s;
}

nav.nav-list li a:hover{
    color:#fd354a;
    font-weight: 600;
}

.jumbotron {
    font-size: 20px;
    width: 100%;
    padding: 60px 60px 120px 60px ;
    /* background-color: #00c8eb; */
    text-align: center;
    color: white;
}


main {
    padding: 25px 3%;
    
    color: white;
    text-align: justify;
}
.content{
    display: flex;
    gap: 1.5rem;
}

#content-article {
    flex: 5;
    display: flex;

    flex-flow: column nowrap;
    gap: 1rem 2rem;

   border: white 2px solid;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 20px;
}

aside {
    padding: 10px 25px;
    flex: 1;
    width: 25%;
    /* padding-left: 25px; */
    border: white 2px solid;
    text-align: justify;
}

footer {
    padding: 30px;
    color: white;
    background-color: transparent;
    text-align: center;
    
}
article>section {
    padding-left: 35px;
}

/* *,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: transparent;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header.navbar-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

    border-bottom: #425c77 solid 3px;
    border-radius: 5%;
}

header.navbar-container .logo img{
    width: 20%;
} */

/* header.navbar-container .logo img {
    flex: 1;
    width: 200px;
}

header.navbar-container .nav-list ul {
    padding-left: 0;

    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
    flex: 5;
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;

    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;

    transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    font-weight: 700;
    color: black;
} */